:root {
    --bg-color: #F0F0F0;
    --grey: #C4C4C4;
    --black: #000000;
    --colorColumnLanding: #E3D24D;

    --marginDesktop: 1vw;
    --marginMobile: 3vw;
    --columnSizeDesktop: calc(100vw / 21);
    --headerSizeDesktop: calc(100vw / 21);

    --columnSizeMobile: calc(100vw / 8);
    --headerSizeMobile: calc(100vw / 8);
}

/* Geral */
/* Customize the width */
::-webkit-scrollbar {
    width: 10px;
    position: absolute; /* Make the scrollbar overlap */
    z-index: 9999; /* Ensure it is on top */
}

/* Transparent track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Grey thumb with round corners */
::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #9a9a9a;
    border-radius: 10px;
}


* {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

::-moz-selection {
    color: var(--bg-color);
    background: var(--black);
}

::selection {
    color: var(--bg-color);
    background: var(--black);
}


hr {
    border: none;
    border-top: 1px solid var(--black);
}

a {
    cursor: pointer;
}

body {
    background-color: var(--bg-color);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;

}



h1 {
    font-size: calc(45px + 0.5vw);
    line-height: calc(48px + 0.5vw);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: calc(30px + 0.5vw);
    line-height: calc(32px + 0.5vw);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size:calc(23px + 0.390625vw);
    line-height:calc(25px + 0.390625vw);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h4 {
    font-size:calc(19px + 0.390625vw);
    line-height:calc(22px + 0.390625vw);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: calc(11px + 0.390625vw);
    line-height: calc(15px + 0.390625vw);
    font-weight: 400;
    text-wrap: pretty;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#menu a:hover {
    text-decoration: none;
}

#openMenu:hover{
    text-decoration: underline;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;

}

span {
    font-size: calc(50px + 1.7vw);
    line-height: calc(50px + 1.7vw);
}

main {
    position: absolute;
    left: var(--headerSizeDesktop);
}


/* Header */
.simpleLogoHeader svg rect {
    transition: all 0.5s ease;
}

.headerDiv:hover #Rectangle_309 {
    x: 5;
    y: 25;
}

.headerDiv:hover #Rectangle_310 {
    x: 15;
    y: 25;
}

.headerDiv:hover #Rectangle_311 {
    x: 35;
    y: 25;
}

.headerDiv:hover #Rectangle_312 {
    x: 55;
    y: 25;
}

.headerDiv:hover #Rectangle_313 {
    x: 0;
    y: 0;
}

.headerDiv:hover #Rectangle_314 {
    x: 25;
    y: 0;
}

.headerDiv:hover #Rectangle_315 {
    x: 30;
    y: 0;
}

.headerDiv:hover #Rectangle_316 {
    x: 45;
    y: 0;
}

/* Define the rest of the hover states accordingly */
header {
    height: calc(var(--vh, 1h)* 100);
}

.headerDiv {
    width: var(--headerSizeDesktop);
    position: fixed;
    height: calc(var(--vh, 1h)* 100);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--bg-color);
    border-right: 1px solid var(--black);
    gap:var(--marginDesktop);
}

.simpleLogoHeader svg {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.logoHeader {
    display: flex;
    justify-content: center;
    padding-bottom: var(--marginDesktop);
}

.logoHeader svg {
    width: 40%;
    cursor: pointer;
}

/* Menu */
.menu span {
    font-size: calc(40px + 0.390625vw);
    line-height: calc(40px + 0.390625vw);
}

.menuButton {
    transform-origin: 50% 50%;
    transform: rotate(-90deg) translate(-25%);
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#closeMenu {
    width: 1vw;
    display: none;
}

#menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    /* Impede a interação quando escondido */
    position: fixed;
    gap: calc(var(--marginDesktop) * 2);
    padding: var(--marginDesktop);
    background-color: var(--grey);
    width: calc((var(--columnSizeDesktop)) * 4.5);
    height: calc(var(--vh, 1h) * 100 - var(--marginDesktop) * 2);
    z-index: 900;
    left: calc(var(--headerSizeDesktop));
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease, pointer-events 0.5s ease;
    border-right: 1px solid var(--black);
}

#menu.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1100;
}


#menu span {
    cursor: pointer;
    position: relative;
}

#menu span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.5px;
    width: 100%;
    background-color: black;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#menu span:hover::after,
#menu .menuSelected::after {
    opacity: 1;
    transform: scaleX(1);
}

#menu a {
    color: var(--black);
    text-decoration: none;
}

.menuButton svg {
    cursor: pointer;
}



/* Index */
#structreLandingRow1 {
    height: calc(var(--vh, 1h) * 41.67);
}

#structreLandingRow2 {
    height: calc(var(--vh, 1h) * 58.33);
}

body {
    display: flex;
    overflow-x: hidden;
}


.has-scroll-smooth [data-scroll-container] {
    height: calc(var(--vh, 1h) * 100) !important;
}

.structreLanding {
    width: 100%;
    position: relative;
}

.structreLandingColumn {
    background-color: var(--colorColumnLanding);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 1;
}

.structreLandingRow {
    display: flex;
}

.expand {
    transform: scaleX(1);
}

.collapse {
    transform: scaleX(0);
}


.imageBackgroundLanding {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: calc(100vw - var(--columnSizeDesktop));
    height: calc(var(--vh, 1h)* 100);
    overflow: hidden;
}

.imageBackgroundLanding img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: calc(var(--vh, 1h) * 100);
    object-fit: cover;
    pointer-events: none;
}

.imageBackgroundLanding img.active {
    opacity: 1;
    pointer-events: auto;
}

.titleLanding {
    color: var(--bg-color);
    transform: rotate(-90deg) translate(0%, 100%);
    position: absolute;
    transform-origin: bottom left;
    left: var(--columnSizeDesktop);
    bottom: 0;
}

.titleLandingContainer {
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    cursor: pointer;
}

.titleLandingContainer.active {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
}

.titleLandingContainer {
    padding: var(--marginDesktop);
    width:calc(var(--vh, 1h) * 58.33 - var(--marginDesktop) * 2);
    min-height: calc((var(--columnSizeDesktop)) * 3 - var(--marginDesktop) * 2 - 5px);
    display: flex;
    flex-direction: column;
    gap: var(--marginDesktop);
    display: flex;
    justify-content: space-between !important;
    overflow: hidden;
    position: relative;
}

.imageLandingNext{
    z-index: 100;
}
.imageLandingNextDesktop {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%);
    min-width: 4.7619vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: var(--marginDesktop);
    gap: var(--marginDesktop);
}

.imageLandingNextMobile{
    display: none;
}

.imageLandingNext svg {
    fill: none;
    stroke: var(--bg-color);
    stroke-width: 1;
    width: auto;
    height: 15px;
    transition:  stroke-width 0.3s ease;
}

.imageLandingNext svg:hover{
    stroke-width: 2;
    transition:  stroke-width 0.3s ease;
}

.titleLandingSpan {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

.imageLandingNext .selected {
    fill: var(--bg-color) !important;
}

.imageLandingNextArrow{
    position: absolute;
    right: 0;
    bottom: 0;
}

.imageLandingNextArrow svg{
    height: 30px;
    padding-bottom: calc(var(--marginDesktop) / 2);
    stroke: var(--bg-color) !important;
    stroke-width: 1px;
    cursor:pointer;
    transition:  stroke-width 0.3s ease;
}

.imageLandingNextArrow svg:hover{
    stroke-width: 2px;
    transition:  stroke-width 0.3s ease;
}

.imageLandingNextArrow_mobile{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

.imageLandingNextArrow_mobile svg{
    height: 1.5vw;
    padding-bottom: calc(var(--marginDesktop) / 2);
    stroke: var(--bg-color) !important;
    stroke-width: 1;
}

::marker {
    display: none!important;
}

.numberPhotos{
    cursor:pointer;
}


/* Index Agenda */
.moreinfoEvent {
    text-decoration: underline;
}

.monthSep {
    display: flex;
    justify-content: space-between;
    padding: var(--marginDesktop);
}

.monthSep h1{
    text-transform: lowercase;
}

.mainTitle {
    padding: var(--marginDesktop);
    margin-top: calc(var(--marginDesktop)*3);
}

.agendaItemMain {
    width: calc(100vw - (var(--columnSizeDesktop)) - var(--marginDesktop)* 2) !important;
    padding: var(--marginDesktop);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: calc(var(--marginDesktop));
}


.agendaItem {
    width: 100%;
    margin-bottom: var(--marginDesktop);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


.hoverImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.5s ease;
    z-index: -1;
}

.agendaItem:hover .hoverImage {
    width: 100%;
}

.agendaItem:hover .imageAgendaItem img {
    transform: scale(1.05);
}

.agendaItem:hover  .agendaItemDetails{
    transition: margin 0.3s ease;
}

.agendaItem {
    position: relative;
    overflow: hidden;
}

.imageAgendaItem {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.imageAgendaItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
}


.agendaItemDetails {
    margin: var(--marginDesktop) 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--marginDesktop) / 2);
    transition: margin 0.3s ease;
}

.buttonMoreAgenda {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    padding: var(--marginDesktop);
}

.buttonMoreAgenda a {
    color: var(--bg-color);
}

.buttonMoreAgenda a:hover {
    text-decoration: underline;
}

.filter {
    display: flex;
        justify-content: space-between;
        padding: var(--marginDesktop);
        gap: var(--marginDesktop);
}


.filter div {
    display: flex;
    gap: var(--marginDesktop);
    align-items: center;
}

.filter p:hover {
    cursor: pointer;
}

#searchIcon {
    width: 2vw;
}

#editableText {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    outline: none; /* Remove the default focus outline */
}

#searchInput{
    font-size: calc(11px + 0.390625vw);
    line-height: calc(15px + 0.390625vw);
    font-weight: 400;
    text-wrap: pretty;
}


button[type=submit] {
    border: none;
    background: none;
    padding: 0;
}

#searchBar input[type=text] {
    border: none;
    border-bottom: 1px solid #000; /* Add border-bottom only */
    background: none;
    outline: none; /* Remove the outline */
}

#searchBar input::placeholder {
    color: #000; /* Customize the placeholder color */
}

.selected-filter {
    text-decoration: underline;
}



/* Evento-Tipo */
.bodyEventType main {
    background-color: var(--grey);
}

.eventContent {
    width: calc(100vw - var(--columnSizeDesktop));
    min-height: calc(var(--vh, 1h)* 100);
    display: flex;
}

.eventCategory{
    text-decoration: none!important;
}

.eventImage {
    width: 50%;
    height: calc(var(--vh, 1h)* 100);
}

.eventImage img {
    width: 100%;
    object-fit: cover;
    height: calc(var(--vh, 1h) * 100);
}

.eventInfo {
    width: 50%;
    padding: var(--marginDesktop);
}

.dayEvent {
    margin-top: calc(var(--marginDesktop) * 5);
}

.dayEvent p {
    font-weight: 600;
}

.detailsEventMain {
    margin-top: calc(var(--marginDesktop) * 5);
    display: flex;
    gap: var(--marginDesktop);
}

.detailsEvent {
    width: 60%;
}

.textEvent {
    width: 50%;
}

.textEvent p {
    margin-bottom: calc(var(--marginDesktop) / 2);
    text-wrap: pretty;
}

.eventImage {
    position: sticky;
    top: 0;
}
.imageCarousel {
    width: 100%;
    object-fit: cover;
    height: calc(var(--vh, 1h) * 100);
}

.imageCarousel img {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageCarousel img:first-of-type {
    opacity: 1;
}

.arrowsImage {
    position: absolute;
    z-index: 2;
    width: calc(100% - var(--marginDesktop)* 2);
    height: calc(var(--vh, 1h) * 100);
    display: flex;
    align-items: center;
    padding: var(--marginDesktop);
    justify-content: space-between;
}


.arrowsImage svg {
    width: 2.5vw;
}

#arrowImageEvent_Right, #arrowImageEvent_Left{
    cursor: pointer;
    fill: none;
    stroke: var(--bg-color);
    mix-blend-mode: exclusion;
    stroke-width: 1;
    transition:  stroke-width 0.3s ease;
}

#arrowImageEvent_Right:hover, #arrowImageEvent_Left:hover {
    stroke-width: 2!important;
    transition:  stroke-width 0.3s ease;
}

.categoryList p:hover{
    text-decoration: underline;
}

.selectionMonth p:hover{
    text-decoration: underline;
}

/*Footer*/
footer span {
    font-size: calc(50px + 0.5vw);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer input[type="text"] {
    font-size: calc(50px + 0.5vw);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    border-bottom: 2px solid var(--grey) !important;
}

footer input[type="text"]::placeholder {
    color: grey;
}

.newsletterFooter {
    width: calc(100vw - var(--marginDesktop)* 2 - var(--headerSizeDesktop));
    padding: var(--marginDesktop);
    margin-top: 0;
}

.footerMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--marginDesktop);
}

.footerElement {
    width: calc(var(--columnSizeDesktop))* 2;
    display: flex;
    gap: calc(var(--marginDesktop)*4);
}

.newsletterForm {
    display: flex;
    justify-content: space-between;
}

#newsletterForm {
    opacity: 0;
}

#subscribeSpan {
    cursor: pointer;
}

footer input[type="text"] {
    font-size: calc(50px + 0.5vw);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    border-bottom: 2px solid var(--black);
}

#newsletterForm-arrow {
    cursor: pointer;
}

/* Programacao*/

/*About*/

.aboutCaeTop {
    padding: calc(var(--marginDesktop));
    display: flex;
    flex-direction: column;
    gap: var(--marginDesktop);
    margin-bottom: calc(var(--marginDesktop) * 2);
}

.aboutCaeTop h3{
    width: 60%;
}

.imageAbout {
    width: calc(100vw - var(--headerSizeDesktop));
}

.imageAbout img {
    width: 100%;
    height: 100%;
}


.blockAbout h1 {
    padding: calc(var(--marginDesktop));
}

.blockAboutContainer p{
    width: 50%;
    margin-bottom: calc(var(--marginDesktop) / 2);
}

.blockAboutContainer{
    padding: calc(var(--marginDesktop));
}


/*Política de Privacidade*/
.privacyPolicy {
    padding: calc(var(--marginDesktop));
    display: flex;
    flex-direction: column;
    gap: calc(var(--marginDesktop) * 2);
    margin-bottom: calc(var(--marginDesktop) * 2);
}

.privacyPolicy .infoPagesParagraph {
    width: 60%;
}

.infoPagesParagraph {
    width: 50%;
}

.infoPagesParagraph p {
    margin-bottom: calc(var(--marginDesktop) / 2);
}

.infoPagesFlex{
    display: flex;
    gap: calc(var(--marginDesktop) * 2);
}


/*Bilheteira*/
.bilheteriaItemMain {
    width: calc(100vw -(var(--columnSizeDesktop)) - var(--marginDesktop)* 2) !important;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: calc(var(--marginDesktop));
}

.bilheteriaItemMain .agendaItem img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    background-color: var(--grey);
}

/*CAE*/
.textWrap p{
    white-space: pre-line;
}

.textWrapP{
    white-space: pre-line;
}

.trimestreList{
    align-items: flex-start!important;
}


.trimester-btn.active {
    font-weight: bold;
    text-decoration: underline;
}

.year-group{
    flex-direction: column;
    align-items: flex-start !important;
gap: 0 !important;
}




@media only screen and (max-width: 1600px) {

    span {
        font-size: calc(40px + 1vw);
        line-height: calc(40px + 1vw);
    }

}

@media only screen and (max-width: 1450px) {
    .agendaItemMain {
        grid-template-columns: repeat(3, 1fr);
    }

    .bilheteriaItemMain {
        grid-template-columns: repeat(3, 1fr);
    }

    .infoPagesFlex {
  
        flex-direction: column;
    }
    .infoPagesParagraph {
        width: calc(100vw - var(--headerSizeMobile) - var(--marginMobile) * 2);
    }


}

@media only screen and (max-width: 1000px) {
    .bilheteriaItemMain {
        grid-template-columns: repeat(2, 1fr);
    }

    .agendaItemMain{
        grid-template-columns: repeat(2, 1fr);
    }

    .infoPagesFlex {
  
        flex-direction: column;
    }
    .infoPagesParagraph {
        width: calc(100vw - var(--headerSizeMobile) - var(--marginMobile) * 2);
    }
    span {
        font-size: calc(30px + 1vw);
        line-height: calc(30px + 1vw);
    }
}

@media only screen and (max-width: 700px) {
    ::-webkit-scrollbar {
        display: none;
    }
    
    /* Transparent track */
    ::-webkit-scrollbar-track {
        display: none;    }
    
    /* Grey thumb with round corners */
    ::-webkit-scrollbar-thumb {
        display: none;
    }
    
    /* Thumb on hover */
    ::-webkit-scrollbar-thumb:hover {
        display: none;
    }
    

    /* Geral */
    a {
        text-decoration: underline;
    }

    #menu a {
        text-decoration: none;
    }

    h1 {
        font-size: calc(40px + 0.5vw);
        line-height: calc(45px + 0.5vw);
        font-family: "neue-haas-grotesk-text", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        font-size: calc(30px + 0.5vw);
        line-height: calc(30px + 0.5vw);
        font-family: "neue-haas-grotesk-text", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    h3 {
        font-size:calc(19px + 0.390625vw);
        line-height:calc(20px + 0.390625vw);
        font-family: "neue-haas-grotesk-text", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    p {
        font-size: calc(15px + 0.390625vw);
        line-height: calc(20px + 0.390625vw);
        font-weight: 400;
        text-wrap: pretty;
    }


    main {
        left: var(--headerSizeMobile);
    }

    .headerDiv {
        width: var(--headerSizeMobile);
    }

    .logoHeader {
        padding-bottom: var(--marginMobile);
    }

    .logoHeader svg {
        width: 60%;
    }

    #menu {
        gap: calc(var(--marginMobile)* 2);
        padding: var(--marginMobile);
        background-color: var(--grey);
        width: calc(100vw - var(--headerSizeMobile));
        height: calc(var(--vh, 1h)* 100 - var(--marginMobile)* 2);
        z-index: 900;
        left: calc(var(--headerSizeMobile));
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        border-right: 1px solid var(--black);
    }

    #closeMenu {
        width: 4vw;
        display: none;
    }


    .footerMain {
        flex-direction: column;
        padding: var(--marginMobile);
    }

    .footerElement {
        flex-direction: column;
    }

    .newsletterFooter {
        width: calc(100vw - var(--marginMobile)* 2 - var(--headerSizeMobile));
        padding: var(--marginMobile);
    }

    footer span {
        font-size: calc(40px + 0.5vw);
        line-height: calc(40px + 0.5vw);

        font-family: "neue-haas-grotesk-text", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .newsletterForm {
        width: calc(100vw - var(--columnSizeMobile) - var(--marginMobile) * 2);
    }

    #newsletterForm-email {
        width: 100%;
    }

    .newsletterForm svg {
        width: 7vw;
    }

    footer input[type="text"] {
        font-size: calc(40px + 0.5vw);
    }


    /*Index*/
    .structreLanding {
        min-height: calc(var(--vh, 1h) * 100);
    }

    #structreLandingRow1 {
        height: calc(var(--vh, 1h) * 33.3);
    }

    #structreLandingRow2 {
        height: calc(var(--vh, 1h) * 46.67);
    }

    .structreLandingRow {
        display: flex;
    }

    .imageLandingNext svg {
        height: 2vw;
    }

    .imageBackgroundLanding {
        width: calc(100vw - var(--headerSizeMobile));
        height: calc(var(--vh, 1h) * 80);
    }

    .imageBackgroundLanding img {
        height: calc(var(--vh, 1h) * 80);
    }

.imageLandingNextDesktop{
    display: none;
    position: absolute;
    bottom: calc(var(--vh, 1h) * 20);
    right: 0;
    transform: translate(-50%);
    min-width: auto !important;;
    height: max-content !important;
    
    align-items: flex-end;
    justify-content: center;
    padding-bottom: var(--marginMobile);
    gap: var(--marginMobile);
    padding-right: 0;
}

.imageLandingNextMobile{
    display: flex;
    position: absolute;
    right: var(--marginMobile);
    top: var(--marginMobile);
    gap: var(--marginMobile);

    min-width: auto !important;;
    height: max-content !important;
    
    align-items: flex-end;
    justify-content: center;
    padding-bottom: var(--marginMobile);
    gap: var(--marginMobile);
    padding-right: 0;
}

    .titleLandingSpan {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 3px;
    }

    span {
        font-size: calc(45px + 0.5vw);
        line-height: calc(45px + 0.5vw);
    }

    .buttonMoreAgenda {
        padding: calc(var(--marginMobile) * 1.5);
        margin-top: var(--marginMobile);
    }

    .buttonMoreAgenda p {
        text-decoration: underline;
    }

    .agendaItemMain {
        width: calc(100vw - (var(--columnSizeMobile)) - var(--marginMobile)* 2) !important;
        padding: var(--marginMobile);
        grid-template-columns: repeat(1, 1fr);
        grid-gap: calc(var(--marginMobile));
    }

    .agendaItemDetails {
        margin-top: calc(var(--marginMobile) / 2);
        gap: calc(var(--marginMobile) / 4);
    }

    .moreinfoEvent {
        padding: 0;
    }

    .titleLandingContainer {
        padding: var(--marginMobile) var(--marginMobile) calc(var(--marginMobile) * 2);
        width: calc(50vh - var(--marginMobile)* 2);
        min-height: calc(var(--vh, 1h) * 20 - var(--marginMobile) * 2);
        width: calc(100vw - var(--marginMobile)* 2 - var(--columnSizeMobile));
        gap: var(--marginMobile);
        overflow: auto;
    }

    .titleLanding {
        color: var(--bg-color);
        background-color: var(--black);
        transform: rotate(0deg) translate(0%, 0%);
        position: initial;
        transform-origin: bottom left;
    }

    .imageLandingNextArrow {
        display: none;
    }


    .imageLandingNextArrow_mobile{
        display: block;
        position: absolute;
        right: 0;
        bottom: 50%;
        transform: translate( 0 , 50%);

        z-index: 1000;
    }
    
    .imageLandingNextArrow_mobile svg{
        height: 6vw;
        stroke-width: 3;
        padding-bottom: 0;
        stroke: var(--bg-color) !important;
    }

    .agendaItem:hover .hoverImage {
        width: 0%;
    }
    
    .agendaItem:hover .imageAgendaItem img {
        transform: scale(1);
    }
    
    

    /*Agenda*/
    .monthSep {
        padding: var(--marginMobile);
    }

    .filter {
        padding: var(--marginMobile);
        flex-direction: column;
    }

    .filter div {
        gap: var(--marginMobile);
    }

    #searchIcon {
        width: 4.5vw;
    }


    .mainTitle {
        padding: var(--marginMobile);
        margin-top: calc(var(--marginMobile));
    }

    .imageAgendaItem{
        height: 40vh;
    }

    #searchInput{
        font-size: calc(15px + 0.390625vw);
        line-height: calc(20px + 0.390625vw);
        font-weight: 400;
        text-wrap: pretty;
    }

    
    

    /* Evento-Tipo */
    .imageCarousel {
        width: 100%;
        object-fit: cover;
        height: 70vh;
    }

    .eventContent {
        width: calc(100vw - var(--columnSizeMobile));
        flex-direction: column;
    }

    .eventImage {
        width: 100%;
        height: 70vh;
    }

    .arrowsImage svg {
        width: 7vw;
    }

    .arrowsImage {
        height: calc(70vh - var(--marginMobile) * 2);
        width: calc(100% - var(--marginMobile)* 2);
        padding: var(--marginMobile);
    }

    .eventInfo {
        width: calc(100% - var(--marginMobile)* 2);
        padding: var(--marginMobile);
    }

    .dayEvent {
        margin-top: calc(var(--marginMobile)* 2);
    }

    .detailsEvent {
        width: 100%
    }

    .detailsEventMain {
        margin-top: calc(var(--marginMobile)* 2);
        gap: calc(var(--marginMobile)* 2);
        flex-direction: column;
    }

    .textEvent {
        width: 100%;
    }

    .textEvent p {
        margin-bottom: calc(var(--marginMobile) / 2);
    }

    /*Abou*/

    .aboutCaeTop span {
        font-size: calc(40px + 0.5vw);
        line-height: calc(40px + 0.5vw);
    }

    .aboutCaeTop h3{
        width: 100%;
    }

   

    .blockAbout p {
        width: calc(100% - var(--marginMobile) * 2);
    }

    .aboutCaeTop {
        padding: calc(var(--marginMobile));
        display: flex;
        flex-direction: column;
        gap: var(--marginMobile);
        margin-bottom: var(--marginMobile);
    }

    .imageAbout {
        width: calc(100vw - var(--headerSizeMobile));
    }

    .imageAbout img {
        width: 100%;
        height: 100%;
    }

    .blockAbout p,
    .blockAbout h1 {
        padding: calc(var(--marginMobile));
    }


    /*Política de Privacidade*/
    .privacyPolicy {
        padding: calc(var(--marginMobile));
        gap: calc(var(--marginMobile) * 2);
        margin-bottom: calc(var(--marginMobile) * 2);
    }

    .infoPagesParagraph {
        width: calc(100vw - var(--headerSizeMobile) - var(--marginMobile) * 2);
    }

    .infoPagesParagraph p {
        margin-bottom: calc(var(--marginMobile) / 2);
    }

    .privacyPolicy .infoPagesParagraph{
        width: calc(100vw - var(--headerSizeMobile) - var(--marginMobile) * 2);

    }

    /*Bilheteira*/
    .bilheteriaItemMain {
        grid-template-columns: repeat(1, 1fr);
    }

    .infoPagesFlex {
  
        flex-direction: column;
    }

    .bilheteriaItemMain .agendaItem img {
        width: 100%;
        height: 40vh;
    }
}