:root {
    --bg-color: #F0F0F0;
    --brown: #E3D24D;
}

/* Geral */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h1 {
    font-size: 80px;
}

p {
    font-size: 20px;
}


/* Header */
header {
    height: 100vh;
}

.headerDiv {
    width: 100%;
    height: 100%;
}

/* Main */
.bodyLanding {
    display: flex;
}

.structreLanding {
    width: 100%;
    position: relative;
}

.structreLandingColumn {
    background-color: var(--brown);
    height: 100%;
}


.structreLandingRow {
    display: flex;
    height: 50vh;
}


.imageBackgroundLanding {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}


.imageBackgroundLanding img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.titleLandingPage {
    height: calc(100vw /(20 + 1)* 3);
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: calc(100vw /(20 + 1)* 0);
}

.titleLandingPage p{
padding-top:2vw;
}

.titleLandingPage h1{
    padding-bottom:2vw;
    }