:root {
    --bg-color: #F0F0F0;
    --grey: #C4C4C4;
    --black: #000000;
    --colorColumnLanding: #E3D24D;

    --marginDesktop: 1vw;
    --marginMobile: 3vw;
    --columnSizeDesktop: calc(100vw / 21);
    --headerSizeDesktop: calc(100vw / 21);

    --columnSizeMobile: calc(100vw / 8);
    --headerSizeMobile: calc(100vw / 8);
}

/* Geral */
* {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--bg-color);
    background: var(--black);
}

::selection {
    color: var(--bg-color);
    background: var(--black);
}


hr {
    border: none;
    border-top: 0.5px solid var(--black);
}

a {
    cursor: pointer;
}

body {
    background-color: var(--bg-color);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h1 {
    font-size: calc(45px + 0.5vw);
    line-height: calc(48px + 0.5vw);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: calc(30px + 0.5vw);
    line-height: calc(32px + 0.5vw);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: calc(11px + 0.390625vw);
    line-height: calc(15px + 0.390625vw);
    font-weight: 400;
    text-wrap: pretty;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#menu a:hover{
    text-decoration: none;
}

span {
    font-size: calc(70px + 0.5vw);
    line-height: calc(70px + 0.5vw);
}

main {
    position: absolute;
    left: var(--headerSizeDesktop);
}


/* Header */
header {
    height: 100vh;
}

.headerDiv {
    width: var(--headerSizeDesktop);
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--bg-color);
    border-right: 1px solid var(--black);
}

.simpleLogoHeader svg {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.logoHeader {
    display: flex;
    justify-content: center;
    padding-bottom: var(--marginDesktop);
}

.logoHeader svg {
    width: 40%;
    cursor: pointer;
}

/* Menu */
.menu span {
    font-size: calc(40px + 0.390625vw);
    line-height: calc(40px + 0.390625vw);
}

.menuButton {
    transform-origin: 50% 50%;
    transform: rotate(-90deg) translate(-25%);
    cursor: pointer;
}

#closeMenu {
    width: 1vw;
    display: none;
}

#menu {
   opacity: 0;
   visibility: 0;
    position: fixed;
    gap: calc(var(--marginDesktop) * 2);
    padding: var(--marginDesktop);
    background-color: var(--grey);
    width: calc((var(--columnSizeDesktop)) * 4);
    height: calc(var(--vh, 1h) * 100 - var(--marginDesktop) * 2);
    z-index: 900;
    left: calc(var(--headerSizeDesktop));
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    border-right: 1px solid var(--black);
}

#menu.show {
    opacity: 1;
    visibility: visible;
}


#menu span {
    cursor: pointer;
    position: relative;
}

#menu span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.5px;
    width: 100%;
    background-color: black;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#menu span:hover::after,
#menu .menuSelected::after {
    opacity: 1;
    transform: scaleX(1);
}

#menu a {
    color: var(--black);
    text-decoration: none;
}

.menuButton svg {
    cursor: pointer;
}



/* Index */
body{
    display: flex;
}

.structreLanding {
    width: 100%;
    position: relative;
}

.structreLandingColumn {
    background-color: var(--colorColumnLanding);
    height: 100%;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 1;
}

.structreLandingRow {
    display: flex;
    height: 50vh;
}

.expand {
    transform: scaleX(1);
}

.collapse {
    transform: scaleX(0);
}


.imageBackgroundLanding {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: calc(100vw - var(--columnSizeDesktop));
    height: 100vh;
    overflow: hidden;
}

.imageBackgroundLanding img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none; /* Impede interação com imagens invisíveis */
}

.imageBackgroundLanding img.active {
    opacity: 1;
    pointer-events: auto; /* Permite interação com a imagem visível */
}

.titleLanding {
    color: var(--bg-color);
    transform: rotate(-90deg) translate(0%, 100%);
    position: absolute;
    transform-origin: bottom left;
    left: var(--columnSizeDesktop);
    bottom: 0;
    
}

.titleLandingContainer {
    /* display: none; Esconde todos os títulos por padrão 
    opacity: 0;*/
    transition: opacity 0.5s ease-in-out;
    position: absolute;
}

.titleLandingContainer.active {
    display: block; /* Exibe o título ativo */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
}


.titleLandingContainer{
    padding: var(--marginDesktop);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--marginDesktop);
    width: calc(50vh - var(--marginDesktop) * 2);
    height: calc((var(--columnSizeDesktop)) * 3 - var(--marginDesktop) * 2);
}

/*
.titleLanding{
    width: calc((100vw / 21)* 6 - var(--marginDesktop)* 2);
    color: var(--bg-color);
    position: absolute;
    bottom: 0;
    padding: var(--marginDesktop);
    z-index: -1;
    right: calc((100vw / 21)* 1);
    margin-bottom: var(--marginDesktop);
}*/

.imageLandingNext {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 4.7619vw;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: var(--marginDesktop);
    gap: var(--marginDesktop);
    padding-right: var(--marginDesktop);
}

.imageLandingNext svg {
    fill: none;
    stroke: var(--bg-color);
    stroke-width: 1;
    width: 0.65vw;
    height: auto;

}

.imageLandingNext .selected {
    fill: var(--bg-color) !important;
}

.imageLandingNext svg:hover {
    fill: var(--bg-color) !important;
    opacity: 50%;
}


/* Index Agenda */
.monthSep {
    display: flex;
    justify-content: space-between;
    padding: var(--marginDesktop);
}

.mainTitle {
    padding: var(--marginDesktop);
    margin-top: calc(var(--marginDesktop)*3);
}

.agendaItemMain {
    width: calc(100vw - (var(--columnSizeDesktop)) - var(--marginDesktop)* 2) !important;
    padding: var(--marginDesktop);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: calc(var(--marginDesktop));
}

.agendaItem {
    width: 100%;
    margin-bottom: var(--marginDesktop);
    cursor: pointer;
}

.agendaItem img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.agendaItemDetails {
    margin-top: var(--marginDesktop);
    display: flex;
    flex-direction: column;
    gap: calc(var(--marginDesktop) / 2);
}

.buttonMoreAgenda {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    padding: var(--marginDesktop);
}

.buttonMoreAgenda a {
    color: var(--bg-color);
}

.buttonMoreAgenda a:hover {
    text-decoration: underline;
}

.filter {
    display: flex;
    justify-content: space-between;
    padding: var(--marginDesktop);
}


.filter div {
    display: flex;
    gap: var(--marginDesktop);
}

.filter p:hover {
    text-decoration: underline;
    cursor: pointer;
}




/* Evento-Tipo */

.bodyEventType main {
    background-color: var(--grey);
}

.eventContent {
    width: calc(100vw - var(--columnSizeDesktop));
    min-height: 100vh;
    display: flex;
}

.eventImage {
    width: 50%;
    height: 100vh;
}

.eventImage img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.eventInfo {
    width: 50%;
    padding: var(--marginDesktop);
}

.dayEvent {
    margin-top: calc(var(--marginDesktop) * 5);
}

.dayEvent p {
    font-weight: 600;
}

.detailsEventMain {
    margin-top: calc(var(--marginDesktop) * 5);
    display: flex;
    gap: var(--marginDesktop);
}

.detailsEvent {
    width: 60%;
}

.textEvent {
    width: 50%;
}

.textEvent p {
    margin-bottom: calc(var(--marginDesktop) / 2);
    text-wrap: pretty;
}

.eventImage {
    position: relative;
}

.imageCarousel {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.imageCarousel img {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageCarousel img:first-of-type {
    opacity: 1;
}


.arrowsImage {
    position: absolute;
    z-index: 2;
    width: calc(100% - var(--marginDesktop)* 2);
    height: 100%;
    display: flex;
    align-items: center;
    padding: var(--marginDesktop);
    justify-content: space-between;
}

.arrowsImage svg {
    width: 2.5vw;
}


/*Footer*/
footer span {
    font-size: calc(50px + 0.5vw);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer input[type="text"] {
    font-size: calc(50px + 0.5vw);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    border-bottom: 2px solid var(--grey);
}

footer input[type="text"]::placeholder {
    color: grey;
    border-bottom: 2px solid var(--grey);
}

.newsletterFooter {
    width: calc(100vw - var(--marginDesktop)* 2 - var(--headerSizeDesktop));
    padding: var(--marginDesktop);
}


.footerMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--marginDesktop);
}

.footerElement {
    width: calc(var(--columnSizeDesktop))* 2;
    display: flex;
    gap: calc(var(--marginDesktop)*4);
}

.newsletterForm{
    display: flex;
    justify-content: space-between;
}

#newsletterForm{
    opacity: 0;
}

#subscribeSpan{
    cursor:pointer;
}

footer input[type="text"] {
    font-size: calc(50px + 0.5vw);
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    border-bottom: 2px solid var(--black);
}


#newsletterForm-arrow{
    cursor: pointer;
}


/* Programacao */
.mainProgramacao {
    background-color: var(--grey);
}


@media only screen and (max-width: 1450px) {
    .agendaItemMain {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    .agendaItemMain {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 700px) {

    /* Geral */
    a{
        text-decoration: underline;
    }

    #menu a{
        text-decoration: none;
    }

    h1 {
        font-size: calc(40px + 0.5vw);
        line-height: calc(45px + 0.5vw);
        font-family: "neue-haas-grotesk-text", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        font-size: calc(30px + 0.5vw);
        line-height: calc(30px + 0.5vw);
        font-family: "neue-haas-grotesk-text", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    p {
        font-size: calc(15px + 0.390625vw);
        line-height: calc(20px + 0.390625vw);
        font-weight: 400;
        text-wrap: pretty;
    }


    main {
        left: var(--headerSizeMobile);
    }

    .headerDiv {
        width: var(--headerSizeMobile);
    }

    .logoHeader {
        padding-bottom: var(--marginMobile);
    }

    .logoHeader svg {
        width: 60%;
    }

    #menu {
        gap: calc(var(--marginMobile)* 2);
        padding: var(--marginMobile);
        background-color: var(--grey);
        width: calc(100vw - var(--headerSizeMobile));
        height: calc(var(--vh, 1h)* 100 - var(--marginMobile)* 2);
        z-index: 900;
        left: calc(var(--headerSizeMobile));
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        border-right: 1px solid var(--black);
    }

    #closeMenu {
        width: 4vw;
        display: none;
    }


    .footerMain {
        flex-direction: column;
        padding: var(--marginMobile);
    }

    .footerElement {
        flex-direction: column;
    }

    .newsletterFooter {
        width: calc(100vw - var(--marginMobile)* 2 - var(--headerSizeMobile));
        padding: var(--marginMobile);
        margin-top: calc(var(--marginMobile) * 2);
    }

    footer span {
        font-size: calc(40px + 0.5vw);
        line-height: calc(40px + 0.5vw);

        font-family: "neue-haas-grotesk-text", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .newsletterForm svg{
        width: 7vw;
    }
    

    /*Index*/
    .buttonMoreAgenda {
        padding: calc(var(--marginMobile) * 1.5);
        margin-top: var(--marginMobile);
    }

    .buttonMoreAgenda p {
        text-decoration: underline;
    }

    .agendaItemMain {
        width: calc(100vw - (var(--columnSizeMobile)) - var(--marginMobile)* 2) !important;
        padding: var(--marginMobile);
        grid-template-columns: repeat(1, 1fr);
        grid-gap: calc(var(--marginMobile));
    }

    .agendaItemDetails {
        margin-top: calc(var(--marginMobile));
        gap: calc(var(--marginMobile) / 2);
    }

    .moreinfoEvent {
        padding: calc(var(--marginMobile) / 2) 0;
    }


    /*Agenda*/
    .monthSep {
        padding: var(--marginMobile);
    }

    .filter {
        padding: var(--marginMobile);
        flex-direction: column;
    }

    .filter div {
        gap: var(--marginMobile);
        margin-bottom: calc(var(--marginMobile) / 2);
    }

    .mainTitle {
        padding: var(--marginMobile);
        margin-top: calc(var(--marginMobile));
    }

    .agendaItem img {
        height: 45vh;
    }

    /* Evento-Tipo */
    .eventContent {
        width: calc(100vw - var(--columnSizeMobile));
        flex-direction: column;
    }

    .eventImage {
        width: 100%;
        height: 70vh;
    }

    .arrowsImage svg {
        width: 7vw;
    }

    .arrowsImage {

        width: calc(100% - var(--marginMobile)* 2);
        padding: var(--marginMobile);
    }

    .eventInfo {
        width: calc(100% - var(--marginMobile)* 2);
        padding: var(--marginMobile);
    }

    .dayEvent {
        margin-top: calc(var(--marginMobile)* 2);
    }

    .detailsEvent {
        width: 100%
    }

    .detailsEventMain {
        margin-top: calc(var(--marginMobile)* 2);
        gap: calc(var(--marginMobile)* 2);
        flex-direction: column;
    }

    .textEvent {
        width: 100%;
    }

    .textEvent p {
        margin-bottom: calc(var(--marginMobile) / 2);
    }

}