:root {
    --bg-color: #F0F0F0;
    --grey: #C4C4C4;
    --black: #000000;
    --colorColumnLanding: #E3D24D;

    --marginDesktop: 1vw;
}

/* Geral */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h1 {
    font-size: calc(60px + 0.5vw);
    line-height: calc(70px + 0.5vw);
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: calc(35px + 0.5vw);
    line-height: calc(35px + 0.5vw);
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: calc(11px + 0.390625vw);
    line-height: calc(14px + 0.390625vw);
    font-weight: 400;
    text-wrap: pretty;
}

span {
    font-size: calc(70px + 0.5vw);
    line-height: calc(70px + 0.5vw);
}

/* Header */
header {
    height: 100vh;
}

.headerDiv {
    position: fixed;
    height: 100%;
    width: calc(100vw / 21);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--bg-color);
    border-right: 1px solid var(--black);
}

.simpleLogoHeader svg {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.logoHeader {
    display: flex;
    justify-content: center;
    padding-bottom: var(--marginDesktop);
}

.logoHeader svg {
    width: 40%;
    cursor: pointer;
}

/* Menu */
.menu span{
    font-size: calc(40px + 0.390625vw);
    line-height: calc(40px + 0.390625vw);
}

.menuButton {
    transform-origin: 50% 50%;
    transform: rotate(-90deg) translate(-25%);
    cursor: pointer;
}

#closeMenu {
    width: 1vw;
    display: none;
}

#menu {
    position: fixed;
    gap: calc(var(--marginDesktop) * 2);
    padding: var(--marginDesktop);
    background-color: var(--grey);
    width: calc((100vw / 21) * 4);
    height: calc(var(--vh, 1h) * 100 - var(--marginDesktop) * 2);
    z-index: 900;
    left: calc(100vw / 21);
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;

    border-right: 1px solid var(--black);
}

#menu span {
    cursor: pointer;
    position: relative;
}

#menu span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.5px;
    width: 100%;
    background-color: black;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#menu span:hover::after,
#menu .menuSelected::after {
    opacity: 1;
    transform: scaleX(1);
}

#menu a {
    color: var(--black);
    text-decoration: none;
}



#menu.show {
    opacity: 1;
    visibility: visible;
}

.menuButton svg {
    cursor: pointer;
}



/* Index */
.bodyLanding {
    display: flex;
}

.structreLanding {
    width: 100%;
    position: relative;
}

.structreLandingColumn {
    background-color: var(--colorColumnLanding);
    height: 100%;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 1;
}

.structreLandingRow {
    display: flex;
    height: 50vh;
}

.expand {
    transform: scaleX(1);
}

.collapse {
    transform: scaleX(0);
}


.imageBackgroundLanding {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: calc(100vw - 100vw/21);
    height: 100vh;
}

.imageBackgroundLanding img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.titleLanding {
    color: var(--bg-color);
    transform: rotate(-90deg) translate(0%, 100%);
    position: absolute;
    transform-origin: bottom left;
    left: calc((100vw / 21));
    bottom: 0;
    width: calc(50vh - var(--marginDesktop) * 2);
    height: calc((100vw / 21) * 3 - var(--marginDesktop) * 2);
    padding: var(--marginDesktop);
    background-color: var(--colorColumnLanding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--marginDesktop);
}

/*
.titleLanding{
    width: calc((100vw / 21)* 6 - var(--marginDesktop)* 2);
    color: var(--bg-color);
    position: absolute;
    bottom: 0;
    padding: var(--marginDesktop);
    z-index: -1;
    right: calc((100vw / 21)* 1);
    margin-bottom: var(--marginDesktop);
}*/

.imageLandingNext {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 4.7619vw;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: var(--marginDesktop);
    gap: var(--marginDesktop);
    padding-right: var(--marginDesktop);
}

.imageLandingNext svg {
    fill: none;
    stroke: var(--bg-color);
    stroke-width: 1;
    width: 0.65vw;
    height: auto;

}

.imageLandingNext .selected {
    fill: var(--bg-color) !important;
}

.imageLandingNext svg:hover {
    fill: var(--bg-color) !important;
    opacity: 50%;
}


/* Index Agenda */
.monthSep {
    display: flex;
    justify-content: space-between;
    padding: var(--marginDesktop);
}

.mainTitle {
    padding: var(--marginDesktop);
    margin-top: calc(var(--marginDesktop)*3);
}

.agendaItemMain {
    width: calc(100vw - (100vw / 21) - var(--marginDesktop)* 2) !important; 
    padding: var(--marginDesktop);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: calc(var(--marginDesktop));
}

.agendaItem {
    width: 100%;
    margin-bottom: var(--marginDesktop);
}

.agendaItem img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.agendaItemDetails {
    margin-top: var(--marginDesktop);
    display: flex;
    flex-direction: column;
    gap: calc(var(--marginDesktop) / 2);
}

/*Footer*/
footer span {
    font-size: calc(50px + 0.5vw);
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer input[type="text"] {
    font-size: calc(50px + 0.5vw);
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    border-bottom: 2px solid var(--grey);
}

footer input[type="text"]::placeholder {
    color: grey;
    border-bottom: 2px solid var(--grey);
}

.newsletterFooter {
    padding: var(--marginDesktop);
}

.footerMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--marginDesktop);
}

.footerElement {
    width: calc(100vw / 21)* 2;
    display: flex;
    gap: calc(var(--marginDesktop)*4);
}



/* Programacao */
.bodyProgramacao {
    background-color: var(--grey);
}